.App {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.gradient-background {
    top: 0;
    left: 0;
    height: 100vh;
    background: #e1ed5a;
}

.department-img {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
}


#myChart {
    display: block;
    width: 80vw;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}

h1 {
    margin-top: 0;
    padding-top: 30px;
}